body{
    margin: 0; padding: 0;
    background: url('../image/background.jpg') no-repeat;
    -webkit-background-size: auto;
    background-size: auto; overflow: hidden;
}

div{ overflow: visible; }

.Title_wrapper{
    position: relative;
    margin: 30px auto;
    height: 200px;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    text-align: center;
    text-decoration: none;
}

#Title_container{
    position: relative;
    height: 60px;
    font-size: 45px;
    color: #fcad7f;
}

#Button_wrapper{
    position: relative;
    margin: 10px auto;
    height: 50px;
}

#Button_container{
    position: relative;
    margin: 30px auto;
    width: 500px;
    height: 60px;
}

.Title_button{
    position: relative;
    padding: 10px 10px;
    float: left;
    margin-left: 65px;
    background-color: #8f7a66;
    color: white;
    font-size: 15px;
    text-decoration: none;
    opacity: 0.7;
}

.Title_button:hover{
    background: #9f8b77;
    opacity: 0.7;
}

#New_game, #High_score{
    width: 110px;
    height: 20px;
}

#New_game{
    margin-left: 35px;
}

#Tiger_Mode{
    margin-top: 2px;
    margin-left: 67px;
    width: 15px;
    height: 15px;
}

#Score_container{
    position: relative;
    margin: 15px auto;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    font-size: 30px;
    color: #8b8c93;
    opacity: 0.8;
}

#Grid_wrapper{
    position: relative;
    margin: -15px auto;
    width: 470px;
    height: 470px;
    padding: 30px;
}

#Backgound_container{
    position: relative;
    margin: 0 auto;
    width: 470px;
    height: 470px;
    border-radius: 10px;
    background-color: #bbada0;
    opacity: 0.9;
}

#Grid_container{
    margin: -470px auto;
    width: 470px;
    height: 470px;
}

.grid_cell{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-color: #ccc0b3;
}

.number_cell{
    position: absolute;
    font-family: "Arial";
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    border-radius: 6px;
}
